@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Global */
body {
    font-family: 'Lato', sans-serif,arial;
    background: #000;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
a.contact-link {
    margin-left: 0;
}
ul {
    list-style-type: none;
    padding: 15px;
}
ul li {
    display: inline-block;
}
h2 {
    font-size: 30px;
    margin: 25px 0;
}
/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #461273;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
}
.header header {
    font-size: 30px;
}
/* About Me section */
.banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px;
    height: 100vh;
    color: #fff;
}
.banner h1{
    margin-top: 20%;
    font-size: 28px;
}
.note {
    display: block;
    color: #230661;
}
.banner p {
    font-weight: bolder;
    font-size: 38px;
}
.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    padding: 30px;
}
.aboutme .profile-pic {
    padding: 10px;
}
.aboutme .profile-pic img {
    border-radius: 10px;
}
.aboutme .details {
    background: #461273;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}
.aboutme .details h2 {
    font-size: 35px;
}
.aboutme .details p {
    margin-top: 20px;
}

/* My Skills section */
.myskills {
    padding: 30px;
}
.myskills .head,.contact .head {
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.myskills .head h1 {
    font-size: 40px;
}
.myskills .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left: 50px;
    justify-content: center;
}
.myskills .row .box {
    width: 300px;
}
.myskills .row .box h3 {
    font-size: 24px;
    margin: 10px;
    text-align: left;
}
.myskills .row .box p {
    font-size: 18px;
    text-align: left;
    margin: 10px;
}
.myskills .row .box:hover {
    cursor: pointer;
}

/* Contact section */
.contact {
    padding: 30px;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact-me .line {
    padding: 10px;
    border-right: 1px solid #fff;
    height: 100px;
}
/* Footer and bottom nav section */
.bottom-nav {
    text-align: center;
    border-bottom: 2px solid #fff;
}
footer {
    background-color: #461273;
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    height: 60vh;
}
footer .footer {
    position: relative;
    padding: 15px;
    text-align: center;
}
